
@{
    ViewBag.Title = "New Rental Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>


<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <input name="CustomerName" id="customer" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{
    <script>
        debugger
        $(document).ready(function () {

            var vm = {'Customer': 'hangover'};

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name '),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
               // prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers //bloodhound object
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;
               
                });

            $("#newRental").submit(function (e) {
                debugger
                e.preventDefault();

                $.ajax({
                    url: "/api/newRentals",
                    method: "post",
                    data: vm
                })
                    .done(function () {
                        console.log("done");
                    })
                    .fail(function () {

                    });
            })
        });
    </script>


}
