USE [master]
GO
/****** Object:  Database [RachitTest]    Script Date: 24-10-2019 01:53:00 ******/
CREATE DATABASE [RachitTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RachitTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RachitTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RachitTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RachitTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RachitTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RachitTest]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 24-10-2019 01:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 24-10-2019 01:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 24-10-2019 01:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NULL,
	[NAME] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (1, N'Rachit', N'Srivastava', N'rachit77s@gmail.com', N'8963032654', 1)
INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (2, N'saransh', N'Gupta', N'saransh0201gupta@gmail.com', N'8009201940', 1)
INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Status]) VALUES (3, N'mudit', N'maurya', N'muditpmaurya@gmail.com', N'1234567890', 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([ID], [DEPARTMENT_NAME]) VALUES (1, N'Engineering')
INSERT [dbo].[DEPARTMENT] ([ID], [DEPARTMENT_NAME]) VALUES (2, N'Support')
INSERT [dbo].[DEPARTMENT] ([ID], [DEPARTMENT_NAME]) VALUES (3, N'QA')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([ID], [EMPLOYEE_ID], [NAME]) VALUES (1, 1, N'Rachit')
INSERT [dbo].[EMPLOYEE] ([ID], [EMPLOYEE_ID], [NAME]) VALUES (2, 2, N'Shruti')
INSERT [dbo].[EMPLOYEE] ([ID], [EMPLOYEE_ID], [NAME]) VALUES (3, 3, N'Shreya')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
USE [master]
GO
